# ==========================================
# 🔑 SOVEREIGN DRIVE AI - SECRETS CONFIG
# ==========================================
# Simpan file ini dengan nama .env dan JANGAN PERNAH mengunggahnya ke GitHub!

# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-g$3ia0ohwoo0(u+#hvd1=s#&k)okt$77%=++x!$*34v0@nj@!5
ALLOWED_HOSTS=*,localhost,127.0.0.1

# Security & Encryption
AES_MASTER_KEY=Rahasiacore256bitkunciku!!!

# Database (PostgreSQL)
DB_NAME=cloud_db
DB_USER=cloud_user
DB_PASSWORD=@Sukaslamet123
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis & Celery
REDIS_HOST=127.0.0.1

# Third Party Integrations
TELEGRAM_BOT_TOKEN=YOUR_REAL_BOT_TOKEN_HERE
GOOGLE_KEY=
GOOGLE_SECRET=
AZURE_KEY=
AZURE_SECRET=
